/.idea/
*.dat
*.csv
co2_05_24_2017.dat.OUT
n2_05_24_2017.dat.OUT
GRAPHS/
DATAa*
*.OUT
AR/
CH4/
CO2/
H2/
HE/
KR/
N2/
NE/
XE/
!CMakeLists.txt
*.DS_Store

CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
compressibility
compressibility.cbp
